/* 清除默认边距 */
*{
    margin: 0;
    padding: 0;
}
/* 头部部分 */
/* 整个网页添加背景图片 */
 body{
    background: url(../img/58268425784995964.jpg);
    height: 35px;
    background-size: cover;
} 
/* header设置一个外边距 */
.header{
    margin-top: 20px;
}

.wel{
   width: 100%;
   height: 35px;
   background-color: #bdc8cd94;
}
#left_ul{
    float: left;
    width: 300px;
    height: 35px;
    background-color: rgba(195, 149, 24, 0);
    
    
    
}
h1{
    font-size: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 300;
    color: #f1f9f5cd;
    

  }
  h1:hover {
    animation: animate 0.5s linear infinite;
}

@keyframes animate {

    0%,
    25% {
        text-shadow: 2px 2px 2px #ff6384;
    }

    50% {
        text-shadow: 2px -2px 2px #ff6384;
    }

    75% {
        text-shadow: -2px 2px 2px #ff6384;
    }

    100% {
        text-shadow: -2px -2px 2px #ff6384;
    }
}
/* 导航条部分 */
.nav{
    width: 100%;
    height: 55px;
   background-color:#bdc8cd94;
}
h2{
    font-size: 39px;
    font-family: 宋体;
    font-weight: 450;
    color: #f1f9f5cd;
    float: left;
}
h2:hover {
    animation: animate 0.5s linear infinite;
}

@keyframes animate {

    0%,
    25% {
        text-shadow: 2px 2px 2px #ff6384;
    }

    50% {
        text-shadow: 2px -2px 2px #ff6384;
    }

    75% {
        text-shadow: -2px 2px 2px #ff6384;
    }

    100% {
        text-shadow: -2px -2px 2px #ff6384;
    }
}
/* 清除a标签默认样式 */
a{
    text-decoration: none;
    color: #f6f3f3;
}

.nav>ul{
    margin-left: 300px;
}

.nav>ul>li{
    height: 55px;
    padding: 0 60px;
    float: left;
    list-style: none;
    font-family: 宋体;
    font-size: 20px;
}
.nav>ul>li>a{
    color: #716f6f;
    line-height: 55px;
}

/* --------------- main ----------------弹性布局 */
.wrap{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form{
    width: 900px;
    height: 650px;
    display: flex;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 25px 45px rgba(0, 0, 0, 1);
}

.left{
    width: 500px;
    height: 650px;
    display: flex;    
    align-items: center;
    justify-content: center;
}
.left_con{
    width: 70%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.right{
    width: 450px;
    height: 650px;
    background: #99a2a7a5;
    display: flex;
    align-items: center;
    justify-content: center;
}
.right_con{
    width: 70%;
    display: flex;
    flex-direction: column;
    text-align: center;
}
h1{
    font-size: 26px;
    color: #f1f9f5cd;
    font-weight: 400;
    padding-bottom: 10px;
}
h3{
    font-style: 12px;
    font-weight: 400;
    color: #f1f9f5cd;
    padding: 10px 0;
}
/* 兼容不同浏览器 */
input::input-placeholder{
	color:#f1f9f5cd;
    font-size: 0.9em;
}
input::-webkit-input-placeholder{	
	color: #f1f9f5cd;
    font-size:0.9em;
}
input::-moz-placeholder{			
	color: #f1f9f5cd;
    font-size: 0.9em;
}
input::-moz-placeholder{			
	color: #f1f9f5cd;
    font-size: 0.9em;
}

input::-ms-input-placeholder{		
	color: #f1f9f5cd;
    font-size:0.9em;
}

.message{
    height:400px;
    width: 100%;
    
    outline: none;
    border: 1.5px solid #dbdbdbfd;
    font-size: 18px;
    line-height: 1.25em;
    color: #546052;
    background: rgba(0, 0,0,0);
}


.text{
    width: 100%;
    outline: none;
    border: none;
    font-size: 18px;
    border-bottom: 1px solid #f1f9f5cd;
    color: #f1f9f5cd;
    background: rgba(0, 0,0,0);
}
.btn{
    width: 100%;
    height: 40px;
    border-radius: 20px;
    border: none;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
    margin-top: 50px;
    background-image: linear-gradient(120deg,#77c1cacb 20%,#f0f0f0b3 100%);
}
.btn:hover{
    box-shadow: 0 0 20px rgba(0, 0,0,0.1);
}

