/* 清除默认边距 */
*{
    margin: 0;
    padding: 0;
}
/* 头部部分 */
/* 整个网页添加背景图片 */
body{
    background: url(../img/726703000635250905.jpg);
    height: 35px;
    background-size: cover;
}
/* header设置一个外边距 */
.header{
    margin-top: 20px;
}

.wel{
   width: 100%;
   height: 35px;
   background-color: #ffbdd28f;
}
#left_ul{
    float: left;
    width: 300px;
    height: 35px;
    background-color: rgba(195, 149, 24, 0);
    
    
    
}
h1{
    font-size: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 300;
    color: #6ad0fcee;
    

  }
  h1:hover {
    animation: animate 0.5s linear infinite;
}

@keyframes animate {

    0%,
    25% {
        text-shadow: 2px 2px 2px #ff6384;
    }

    50% {
        text-shadow: 2px -2px 2px #ff6384;
    }

    75% {
        text-shadow: -2px 2px 2px #ff6384;
    }

    100% {
        text-shadow: -2px -2px 2px #ff6384;
    }
}
/* 导航条部分 */
.nav{
    width: 100%;
    height: 55px;
   background-color:#ffbdd28f;
}
h2{
    font-size: 39px;
    font-family: 宋体;
    font-weight: 450;
    color: #6ad0fcee;
    float: left;
}
h2:hover {
    animation: animate 0.5s linear infinite;
}

@keyframes animate {

    0%,
    25% {
        text-shadow: 2px 2px 2px #ff6384;
    }

    50% {
        text-shadow: 2px -2px 2px #ff6384;
    }

    75% {
        text-shadow: -2px 2px 2px #ff6384;
    }

    100% {
        text-shadow: -2px -2px 2px #ff6384;
    }
}
/* 清除a标签默认样式 */
a{
    text-decoration: none;
    color: #f6f3f3;
}

.nav>ul{
    margin-left: 300px;
}

.nav>ul>li{
    height: 55px;
    padding: 0 60px;
    float: left;
    list-style: none;
    font-family: 宋体;
    font-size: 20px;
}
.nav>ul>li>a{
    color: #f0e783fe;
    line-height: 55px;
}
/* 正文部分/


/* 表格部分 */
table{
    width: 40%;
    border-collapse: collapse;
    float: right;
    margin-right: 10px;
}

table caption{
    font-size: 25px;
    color: #ffffff;
    font-weight: bold;
    margin: 0.5em 0;
    height: 18px; 
    
}

th{
    border: 1.5px solid #8b8b8b;
    text-align: center;
    padding: 25px 0;
}
/* 调整列大小 */
th#yi{
    width: 30%;
}
th#er{
    width: 35%;
}
td{
    border: 1.5px solid #8b8b8b;
    text-align: center; 
    padding: 10px 0;
   
}
td img#ms{
    width: 170px;
    height: 130px;
    border-radius: 10px;
}


table thead tr{
    background-color: #ffbdd28f;
    color: #ffffff;
   
}

table tbody tr:nth-child(odd){
    background-color: #686464e0;
}

table tbody tr:nth-child(even){
    background-color: #222221d6;
}

table tbody tr:hover{
    background-color: #fe7a7aea;
}

table tbody tr td:first-child{
    color: rgb(255, 253, 252);
}
table tbody tr td:last-child{
    color: rgb(255, 253, 252);
}

/* 广州塔 */
.zs{
    background-color: #ffbdd240;
    float: left; 
    width: 580px;
    height: 500px;
    margin-left: 10px;
    margin-top:45px ;
    border: 1.5px solid #8b8b8b;
}
p img#zss{
    margin-left: 30px;
    margin-top: 20px;
    width: 144px;
    height: 200px;   
    border: 1px solid #8b8b8b; 
    border-radius: 10px;

}
p img#zsx{
    margin-left: 30px;
    margin-top: 20px;
    width: 144px;
    height: 200px;   
    border: 1px solid  #8b8b8b; 
    border-radius: 10px;
}
h3{
    font-size: 20px;
    font-family: 微软雅黑;
    margin-left: 150px;   
    margin-top: 3px; 
    color: #ffffffdf;
}

/* 沙面岛 */
.zx{
    background-color: #ffbdd25c;
    float: left;
    width: 740px;
    height: 312px;
    margin-left: -580px;
    margin-top:580px ;
    border: 1.5px solid #8b8b8b;
}
p img#zxs{
    margin-left: 18px;
    margin-top: 7px;
    width: 174px;
    height: 130px;   
    border-radius: 10px;
    clip-path: ellipse(50% 50%);
}
p img#zxx{
    margin-left: 18px;
    margin-top: 7px;
    width: 174px;
    height: 130px;   

    border-radius: 10px;
    clip-path: ellipse(50% 50%);
}
p img#zxy{
    margin-left: 40px;
    margin-top: 7px;
    width: 94px;
    height: 130px;   
    border-radius: 10px;
    clip-path: ellipse(45% 50%);
}