/* 清除默认边距 */
*{
    margin: 0;
    padding: 0;
}
/* 头部部分 */
/* 整个网页添加背景图片 */
body{
    background: url(../img/768495337008863678.jpg);
    height: 35px;
    background-size: cover;
}
/* header设置一个外边距 */
.header{
    margin-top: 20px;
}

.wel{
   width: 100%;
   height: 35px;
   background-color: #ffffff87;
}
#left_ul{
    float: left;
    width: 300px;
    height: 35px;
    background-color: rgba(195, 149, 24, 0);
    
    
    
}
h1{
    font-size: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 300;
    color: #f3e00aee;
    

  }
  h1:hover {
    animation: animate 0.5s linear infinite;
}

@keyframes animate {

    0%,
    25% {
        text-shadow: 2px 2px 2px #ff6384;
    }

    50% {
        text-shadow: 2px -2px 2px #ff6384;
    }

    75% {
        text-shadow: -2px 2px 2px #ff6384;
    }

    100% {
        text-shadow: -2px -2px 2px #ff6384;
    }
}
  
    


/* 导航条部分 */
.nav{
    width: 100%;
    height: 55px;
   background-color:#ffffff87;
}
h2{
    font-size: 39px;
    font-family: 宋体;
    font-weight: 450;
    color: #f3e00aee;
    float: left;
}
h2:hover {
    animation: animate 0.5s linear infinite;
}

@keyframes animate {

    0%,
    25% {
        text-shadow: 2px 2px 2px #ff6384;
    }

    50% {
        text-shadow: 2px -2px 2px #ff6384;
    }

    75% {
        text-shadow: -2px 2px 2px #ff6384;
    }

    100% {
        text-shadow: -2px -2px 2px #ff6384;
    }
}
/* 清除a标签默认样式 */
a{
    text-decoration: none;
    color: #f6f3f3;
}

.nav>ul{
    margin-left: 300px;
}

.nav>ul>li{
    height: 55px;
    padding: 0 60px;
    float: left;
    list-style: none;
    font-family: 宋体;
    font-size: 20px;
}
.nav>ul>li>a{
    color: #150555fe;
    line-height: 55px;
}
/* 正文部分 */
/* 白天部分 */
.zs{
    background-color: rgba(221, 212, 212, 0.332);
    float: left; 
    width: 649px;
    height: 370px;
    margin-left: 0px;
    margin-top: 370px;
    border: 1.5px dotted #f3e00aee;
}
p img#zss{
    margin-left: 3px;
    margin-top: 10px;
    width: 120px;
    height: 168px;   
    border: 1px solid #f3e00a7e; 
    border-radius: 10px;

}
p img#zsx{
    width: 200px;
    height: 150px;    
    margin-left: 8px;
    margin-top: 5px;
    border: 1.5px solid #f3e00a7e;
    border-radius: 10px; 
}
h3{
    font-size: 20px;
    font-family: 微软雅黑;
    margin-left: 150px;   
    margin-top: 3px; 
    color: #000000c1;
}
/* 夜景部分 */
.zhong{
    background-color: rgba(221, 212, 212, 0.332);
   
    width: 450px;
    height: 370px;
    margin-left: 660px;
    margin-top: -372px;
    float:left;
    border: 1.5px dotted #f3e00aee;
}
h4{
    font-size: 20px;
    font-family: 微软雅黑;
    margin-left: 40px;   
    margin-top: 3px; 
    color: #000000c1;
}
p img#zjs{
    margin-left: 3px;
    margin-top: 10px;
    width: 102px;
    height: 142px;   
    border: 1px solid #f3e00a7e; 
    border-radius: 10px;
}
p img#zjx{
    margin-left: 3px;
    margin-top: 30px;
    width: 102px;
    height: 142px;   
    border: 1px solid #f3e00a7e; 
    border-radius: 10px;
}

/* 杜莎夫人蜡像馆部分 */
.you{
    background-color: #242121d4;
    float: right;
    width: 250px;
    height: 740px;
    margin-top: -743px;
     border:1.5px dashed #f3e00a7e;   
}
h5{
    
    font-size: 16px;
    font-family: 微软雅黑;
    margin-left: 5px;   
    margin-top: 3px; 
    color: #ffffffbe;
}
p img#yi{
    width: 96px;
    height: 134px;
    margin-top: 5px;
    margin-left: 18px; 
    clip-path: circle(40%);
    
}
p img#er{
    width: 96px;
    height: 134px;
    margin-top: 5px;
    margin-left: 18px;
  
    clip-path: circle(40%);
}
p img#san{
    width: 96px;
    height: 134px;
    margin-top: 5px;
    margin-left: 18px;
    
    clip-path: circle(40%); 
}
p img#si{
    width: 96px;
    height: 134px;
    margin-top: 5px;
    margin-left: 18px;
   
    clip-path: circle(40%); 
}
p img#wu{
    width: 172px;
    height: 118px;
    margin-top: 5px;
    margin-left: 38px;
   
    clip-path: ellipse(50% 50%);

}



 